[tasks.clippy]
description = "Run clippy linter over everything"
run = "cargo clippy --quiet --all-targets --all-features --workspace -- -D warnings"

[tasks.test]
description = "Run rust tests"
run = "cargo test --all-features --all-targets --workspace"

[tasks.fmt]
description = "Run rustfmt over everything"
run = "cargo fmt --all"

[tasks.check]
description = "Run all checks (fmt, clippy, test)"
depends = ["fmt", "clippy", "test"]

[tasks.docs]
description = "Build documentation"
run = '''
cargo doc --no-deps --workspace
cd docs && mdbook build
'''


[tasks.python-type]
description = "Run type checks"
run = "ty check scripts"

[tasks.python-lint]
description = "Run ruff linter over everything"
run = "ruff check scripts"

[tasks.python-check]
description = "Run all python checks (type and lint)"
depends = ["python-type", "python-lint"]

[tools]
ruff = "latest"
ty = "latest"
