[tasks.clippy]
description = "Run clippy linter over everything"
run = "cargo clippy --quiet --all-targets --all-features --workspace -- -D warnings"

[tasks.test]
description = "Run rust tests"
run = "cargo test --all-features --all-targets --workspace"

[tasks.fmt]
description = "Run rustfmt over everything"
run = "cargo fmt --all"

[tasks.check]
description = "Run all checks (fmt, clippy, test)"
depends = ["fmt", "clippy", "test"]

[tasks.docs]
description = "Build documentation"
run = '''
cargo doc --no-deps --workspace
cd docs && mdbook build
'''
