name: mypy

"on":
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Running mypy
        run: |
          python --version
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv sync --all-groups
          uv run mypy test*.py
