name: mypy

"on":
  push:
    branches:
      - main # Set a branch to deploy
  pull_request:

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Running type checking on python
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv sync --all-groups
          uv run ty check --error-on-warning --output-format github
