name: pylint

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Running lint checks
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv sync --all-groups
          uv run ruff check --output-format github
