---
name: pytest

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Running pytest
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv sync --all-groups
          uv run python -m pytest
