---
name: Rust Testing
on: [push]

jobs:
  cargo_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, rust-analyzer
      - name: Run tests
        run: cargo test --workspace
  cargo_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, rust-analyzer
      - name: Run builds
        run: |
          cargo build --workspace
          cargo build --features danger_i_want_to_risk_it_all -p saml-rs
