name: Rust Testing
on: [push]

jobs:
  cargo_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: icepuma/rust-action@master
        with:
          args: cargo test
  cargo_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: icepuma/rust-action@master
        with:
          args: cargo build
